body {
  font-family: 'Iceland', sans-serif;
  background-color: #000; /* Dark brackground */
  color: #99FFFF; /* Ice Blue Text */
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-family: 'Iceland', sans-serif;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

header nav a:hover {
  color: #99FFFF; /* Ice blue text color on hover */
}

#about {
  padding: 20px;
  position: relative;
}

.about-container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px; /* Space between text and image */
}

.text-content {
  max-width: 60%;
}
  
section {
  padding: 20px;
  font-family: 'Iceland', sans-serif;
}

.image-content {
  position: absolute;
  top:60px;
  right: 0;

.image-content img {
  max-width: 400px;
  height: auto; /* Keep the aspect ratio */
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: 'Iceland', sans-serif;
}
